@import "fonts";
@import "variables";
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: map-get($fonts, light);
}
%links {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
%bgBanner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    height: 50vh;
    span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(111, 104, 104), rgb(38, 36, 36));
    opacity: .7;
    }
    .text {
        z-index: 1;
    }
}
#banner {
    background-image: url(../assets/dua-2.jpg);
    &__sales {
        background-image: url(../assets/dua-3.jpg);
        @extend %bgBanner
    }
    @extend %bgBanner
}
.gMaps {
    @extend %links
}
.cardIcon {
    max-width: 150px;
}
.productItem {
    transition: all 300ms;
    img {
        padding: 1rem;
        border: 1px solid #ccc;
    }
    &:hover {
        transform: scale(1.1);
        img {
            box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
        }
    }
}
#floatingTextarea {
    min-height: 100px;
}
.videoYT {
    min-width: 280px;
    min-height: 160px;
}